In [4]:
import nltk
import pandas as pd
import numpy as np
from helper import tokenize, dicttodf

In [5]:
path = "data/Flickr8k_text/Flickr8k.token.txt"
wordlist, worddictionary = tokenize("data/Flickr8k_text/Flickr8k.token.txt")
worddf = dicttodf(worddictionary)

In [6]:
worddf

          words  counts
0             a   62992
1            in   18985
2           the   18420
3            on   10746
4            is    9344
...         ...     ...
8482         ax       1
8483      tonge       1
8484  relection       1
8485     fawkes       1
8486     objest       1

[8487 rows x 2 columns]

In [4]:
import json
path2 = "/Users/sebastiaanscholten/Documents/speech2image-master/experiments/data/imagenet_class_index.json"

with open(path2,"r") as json_file:
    data = json.load(json_file)

In [7]:
data.get

KeyError: 0